@import "theme";

.game-history {
  margin: 2%;;

  ol {
    padding: 0px;
    list-style: none;

    li {
      margin-bottom: 2%;
      padding: 5px;
      border-radius: 5px;
      color: $brand-white;
      background-color: $brand-2nd;

      p {
        margin: 0px;
      }
    }
  }
}
