@import "theme";

.home {

  .gallery-list-container {
    width: 15%;
    background-color: $app-secondary;

    ul {
      padding: 0px;
    }

    li {
      list-style: none;
    }
  }

  .panel-heading {
    background-color: $app-primary;
    span {
      font-weight: bold;
      color: $app-secondary;
    }

    span:hover {
      color: $app-black;
    }
  }
}

